{% extends 'core/index.html' %}
{% block title %}{% endblock %}
{% block content %}

    <p class="text-start">Совместно с ООО «Газпромнефть НТЦ» и Samsung созданы лаборатории, где готовят кадры для этих компаний. Это позволяет выпускать высококвалифицированных специалистов, понимающих особенности геологического строения сложных коллекторов и умеющих применять цифровые технологии обработки и интерпретации данных.

Наши выпускники востребованы на промышленных предприятиях, в банках, в сфере науки и образования. Многие успешно работают в известных научно-исследовательских и IT-центрах США, Канады, Франции, Великобритании, Германии, Италии и других стран.

Факультет поддерживает тесные отношения с российскими и иностранными учеными, научными коллективами и вузами. В их числе Принстонский университет (США), Дюкский университет и университеты штата Индиана (США), Кембриджский университет (Великобритания), Галльский университет (Германия), Бар-Иланский университет (Израиль) и др.</p>

{% endblock %}