{% extends 'core/index.html' %}
{% block title %}{% endblock %}
{% block content %}

    <div class="card">
        <div class="card-body">В ИИГУ реализуются программы профессиональной переподготовки: «Экономика и управление», «Система государственного и муниципального управления», «Управление образовательной организацией», «Специалист по управлению персоналом», а также программы повышения квалификации: «Информационно-коммуникационные технологии», «Организация обработки персональных данных в организации», «Регулирование отношений при осуществлении проверок операторов персональных данных», «Использование ИКТ в образовательном процессе в условиях реализации ФГОС ВО», «Управленческий учет и бюджетирование», «Документоведение и архивоведение».
         <a href="https://plus-one.ru/society/2021/12/10/vosem-faktov-o-pravah-cheloveka-v-rossii" class="card-lik">Факты о правах человека</a>
        </div>
    </div>
{% endblock %}