{% extends 'core/index.html' %}
{% block title %}{% endblock %}
{% block content %}

    <p class="text-start">В ИИГУ реализуются программы профессиональной переподготовки: «Экономика и управление», «Система государственного и муниципального управления», «Управление образовательной организацией», «Специалист по управлению персоналом», а также программы повышения квалификации: «Информационно-коммуникационные технологии», «Организация обработки персональных данных в организации», «Регулирование отношений при осуществлении проверок операторов персональных данных», «Использование ИКТ в образовательном процессе в условиях реализации ФГОС ВО», «Управленческий учет и бюджетирование», «Документоведение и архивоведение».</p>

{% endblock %}