<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" >

    <title>{{ title }}</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'core:index' %}">Главная</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/">Админ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href=" {% url 'core:student_list' %}">Студенты</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled">Disabled</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>






      {% block content %}
        {% load static %}
        <div class="card-group" style="width: 18rem;">
         <img src="{% static 'core/fmiit.jpg' %}" class="card-img-top" alt="FMiIT">
          <div class="card-body">
            <h5 class="card-title">Факультет математики и информационных технологий</h5>
            <p class="card-text">Наш факультет готовит кадры для научно-исследовательской и инженерно-технической деятельности в областях, использующих математические методы и компьютерные технологии.</p>
            <a href="{% url 'core:core_fmiit' %}" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      {% endblock %}

    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>


  </body>
</html>