{% extends 'core/index.html' %}

{% block title %}{% endblock %}

{% block content %}
    {% include 'core/search_students_include.html' %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Имя</th>
      <th scope="col">Группа</th>
      <th scope="col">Номер зачетной книжки </th>
    </tr>
  </thead>
  <tbody>
  {% for student in object_list %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{% url 'core:student_detail' student.pk  %}">{{ student.lastName }}</a></td>
      <td>{{ student.name|capfirst }}</td>
      <td>{{ student.group }}</td>
      <td>{{ student.numberOfRecord }}</td>
    </tr>
      {% empty %}
      <h4> Не найдено </h4>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'core:student_create' %}" class="btn btn-success"> Добавить студента</a>

{% endblock %}