{% extends 'core/index.html' %}
{% block title %}{% endblock %}
{% block content %}

    <p class="text-start">Химический факультет расположен в отдельном корпусе, где есть все необходимое для занятий и научных изысканий. На факультете работает ряд исследовательских лабораторий, которые оснащены современным парком оборудования. Регулярно организуются международные и всероссийские научные конференции, конкурсы, олимпиады, турниры и школы-семинары. Студенты проходят производственную практику в профильных институтах РАН и на ведущих предприятиях химической промышленности, расположенных на территории РБ.</p>

{% endblock %}